body {
    background: #434343;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #fff;
	height: 100%;
	text-align: center;
	font-size: 18px;
	margin: 60px auto;
}
